.block {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wall {
    background-color: black;
    border-top: 2px;
}

.row {
    height: 20px;
}

.start {
    background-color: blue;
    position: relative;
    left: 0px;
    top: 0px;
}

.finish {
    background-color: coral;
}